<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.github.openfaux</string>
			<key>Developer Identifier</key>
			<string>NETCV7NTVF</string>
			<key>CFBundleVersion</key>
			<string>0.1</string>
			<key>CFBundleShortVersionString</key>
			<string>0.1</string>
			<key>URL</key>
			<string>https://raw.github.com/openfaux/openfaux-client/master/safari/openfaux.safariextension/openfaux.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
